{% extends "base.html" %}
{% block title %}imgur page{% endblock %}
{% block style %}
    <style>

    </style>
{% endblock %}
{% block content%}
<!-- Page Content -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            dodaj zdjęcie
        </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <!--form dodawania zdjęcia-->
                <form class="row row-cols-lg-auto g-3 align-items-center" action="/imgur" method="POST" enctype="multipart/form-data">
                    <div class="col-12">
                        <label class="visually-hidden" for="image">Wybierz plik</label>
                        <input type="file" oninput="" id="image" name="image"  class="form-control" placeholder="Wybierz plik">
                        <button type="submit" class="btn btn-primary m-2">Prześlij</button>
                    </div>
                  </form>
                  <!--koniec formularza-->
                  
                  {% for link in myNewList %}
                    <h4>
                        <p><a href='a.html?'></a>{{link}}</p>
                    </h4>
                  {% endfor %}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            dodaj album
        </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <!--form dodawania zdjęcia-->
            
                <!--koniec formularza-->
                {% for link in myNewList %}
                <h4>
                    <p><a href='{{link}}'></a></p>
                </h4>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>

</script>
{% endblock %}